@import url(https://fonts.googleapis.com/css2?family=poppents);
:root{
--base-clr: #11121a;
--line-clr: #42434a;
--hover-clr: #222533;
--text-clr: #e6e6ef;
--accent-clr: #5e63ff;
--secondary-text-clr: #b0b3c1;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: poppins,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: height 1.5rem;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: ;
  color: var(--text-clr);
  grid-template-columns: auto 1fr;
}
#header {
  display: flex;
  flex-direction: row;
  height: 100px;
  margin: 20px 20px;
  position: static;
}
.head-div1 {
  padding: 20px 20px;
  width: fit-content;
}
.head-div1 h1 {
  color: rgb(4, 241, 241);
  font-size: 2em;
  font-style: oblique;
}
.head-div1 a {
  font-size: x-large;
  margin: 10px 10px;
  text-decoration: none;
}
.head-div1 a:hover {
  color: orange;
}
.head-div2 {
 display: flex;
 flex: 1;
 align-self: center;
 justify-content: center;
}
.head-div2 input {
height: 60px;
margin-top: 20px;
width: 500px;
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
border: 1px solid var(--line-clr);
border-right: none;
}
.head-div2 input::placeholder {
  font-size: 2.5em;
  padding-left: 30px;
  color: black;
}
.head-div2 img {
  height: 60px;
  width: 70px;
  border: 1px solid var(--line-clr);
  margin-top: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.head-div3 {
  display: flex;
  align-items: center;
}
#brands {
  margin: 20px 20px;
}
#brands h1 {
  justify-self: center;
  color: rgb(16, 211, 211);
  font-size: 2em;
  font-weight: 700;
}
#brands div {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}
.btn {
  width: fit-content;
  padding: 20px 25px;
  border-radius: 10px;
}
.btn a {
  font-size: 2em;
  text-decoration: none;
}
#electronics {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 20px 20px;
  padding: 20px 20px;
}
.electronics-container {
  height: 520px;
  width: 380px;
}
.cont-div1 {
  width: 380px;
  height: 370px;
}
.cont-div1 img {
  height: 90%;
  width: 90%;
}
.cont-div2 {
  height: 145px;
  width: 380px;
}
.cont-div2 h1 {
  justify-self: center;
  color: green;
  font-size: xl-large;
  font-style: oblique;
  font-weight: 700;
}
.cont-div2 p {
  justify-self: center;
  color: black;
  font-size: x-large;
  font-weight: 400;
  margin-bottom: 10px;
}
.cont-div2 p strike s{
  color: red;
}
.cont-div2 button {
  display: flex;
  justify-self: center;
  padding: 20px 35px;
  border-radius: 30px;
  border: 1px solid green;
  color: green;
  background-color: white;
  font-size: large;
  width: 250px;
  justify-content: center;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

@media (max-width: 600px) {
  #header {
    height: 50px;
    margin: 5px 5px;
    width: 600px;
  }
  .head-div1 {
    padding: 10px 10px;
    width: 150px;
  }
  .head-div1 h1 {
    font-size: 1em;
  }
  .head-div1 a {
    font-size: small;
    margin: 5px 5px;
  }
  .head-div2 {
    width: 200px;
    margin: 0px;
  }
  .head-div2 input {
    height: 30px;
    margin-top: 10px;
    margin-left: -100px;
    width: 150px;
  }
  .head-div2 input::placeholder {
    font-size: 1em;
  }
  .head-div2 img {
    height: 30px;
    width: 30px;
    margin-top: 10px;
  }
  #brands {
    margin: 10px 10px;
    width: fit-content;
  }
  #brands h1 {
    font-size: 1em;
    font-weight: 400;
  }
  #brands div {
    margin-right: 10px;
    flex-wrap: wrap;
    width: 600px;
  }
  .btn {
    width: fit-content;
    padding: 10px 15px;
  }
  .btn a {
    font-size: 1em;
  }
  #electronics {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .electronics-container {
    height: 300px;
    width: 150px;
    margin-left: -20px;
    margin-right: 20px;
  }
  .cont-div1 {
    width: 150px;
    height: 200px;
  }
  .cont-div1 img {
    height: fit fit-content;
    width: fit-content;
  }
  .cont-div2 {
    height: 100px;
    width: 200px;
  }
  .cont-div2 h1 {
    font-size: large;
    font-weight: 400;
  }
  .cont-div2 p {
    font-size: large;
    font-weight: 200;
  }
  .cont-div2 button {
    font-size: small;
    width: 180px;
  }
  #footer {
    padding: 20px 10px;
    font-size: 1rem;
  }
  .footer-box{
    margin: 10px 0;
    padding: 10px 10px;
  }
  .footer-box h1 {
    display: flex;
    font-size: 1.5rem;
  }
  .footer-box p {
    font-size: 1rem;
    padding: 5px 10px;
  }
  .footer-box a {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {

}
@media (max-width: 992px) {

}
@media (max-width: 1200px) {

}
