@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tagesschrift&display=swap');
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
#header {
  display: grid;
  grid-template-columns: 200px 1fr 150px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  transition: transform 0.5s;
  background-color: white;
  padding: 30px;
  height: 10%;
  z-index: 999;
  position: fixed;
  margin-top: -150px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-size: 0.9em;
  font-weight: 500;
}
.title a {
  font-size: 1em;
}
.search-btn {
  display: flex;
  justify-items: center;
  justify-self: center;
  padding: 10px 20px;
  width: 100%;
  height: 50px;
  
}
.search-btn input {
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
width: 100%;
padding-left: 20px;
border: 1px solid black;
border-right: none;
}
.search-btn input::placeholder {
 font-size: 1em;
 color: black;
}
.search-btn img {
  border: 1px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.icon-cart {
  display: flex;
  position: relative;
  margin-right: 50px;
}
.icon-cart img {
  width: 50%;
  height: 50%;
}
.icon-cart span {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  right: 45px;
  font-size: 1em;
}
#list-product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-left: 20px;
  margin-top: 150px;
}
.item {
  background-color: #eeeee6;
  padding: 20px;
  border-radius: 20px;
  height: 90%;
  width: 80%;
}
.item img {
  width: 100%;
  filter: drop-shadow(0 15px 15px #0009);
  height: 60%;
}
.item h2 {
  font-size: 1em;
  font-weight: small;
  text-wrap: wrap;
  color: rgb(0, 128, 0);
  justify-self: center;
}
.item .price {
  letter-spacing: 3px;
  font-size: 1em;
  color: #000;
  justify-self: center;
  margin-top: -10px;
}
.item .addCart {
  display: flex;
  border: 1px solid rgb(11, 173, 11);
  padding: 10px 20px;
  border-radius: 40px;
  align-items: center;
  justify-self: center;
  font-size: 1em;
}
.cartTab {
  width: 300px;
  background-color: rgb(48, 40, 40);
  color: #eee;
  position: fixed;
  inset: 0 -300px 0 auto;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  transition: 0.6s;
}
body.showCart .cartTab {
  inset: 0 0 0 auto;
}
body.showCart .container{
  transform: translateX(-200px);
}
.cartTab h1 {
  padding: 20px;
  margin: 0;
  font-size: 1.5em;
  align-self: center;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.close {
  background-color: rgb(241, 235, 235);
  color: rgb(6, 153, 6);
  border: none;
  font-family: poppins;
  cursor: pointer;
  font-size: 1.5em;
}
.check {
  background-color: rgb(6, 153, 6);
  color: rgb(241, 235, 235);
  border: none;
  font-family: poppins;
  font-size: 1.5em;
  cursor: pointer;
}
.listCart .item {
  display: grid;
  grid-template-columns: 50px 30px 45px 1fr;
  gap: 20px;
  text-align: center;
  align-items: center;
  background-color: black;
}
.listCart img {
  width: 100%;
}
.item .name {
  font-size: 1em;
}
.item .totalPrice {
  font-size: 1em;
}
.quantity {
  display: flex;
  flex-direction: row;
}
.quantity span {
  width: 30px;
  height: 30px;
  background-color: white;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  font-weight: 300;
}
.item .minus {
  display: flex;
  font-size: 2em;
  justify-self: center;
  justify-content: center;
}
.item .plus {
  display: flex;
  font-size: 2em;
  justify-self: center;
  justify-content: center;
}
.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: white;
  font-size: 1em;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}
.listCart {
  overflow: auto;
} 
.listCart::-webkit-scrollbar {
  width: 0;
}
footer {
  display: flex;
  flex-direction: row;
  justify-self: center;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}

@media (max-width: 1200px) {
  #header {
  display: grid;
  grid-template-columns: 150px 1fr 90px;
  width: 100%;
  align-items: center;
  height: 10%;
  z-index: 999;
  position: fixed;
  margin-top: -150px;
}
.title {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
}
.title h1 {
  font-size: 1em;
  font-weight: 500;
}
.title a {
  font-size: 1em;
}
.search-btn {
  padding: 5px 10px;
  width: 100%;
  height: 50px;
  
}
.search-btn input {
width: 100%;
padding: 20px;
}
.search-btn input::placeholder {
 font-size: 1em;
 color: black;
}
.search-btn img {
  border: 1px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.icon-cart {
  display: flex;
  position: relative;
}
.icon-cart img {
  width: 100%;
  height: 100%;
}
.icon-cart span {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 65%;
  right: 0px;
  font-size: 1em;
}
#list-product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 150px;
  width: 100%;
  height: 100%;
}
.item {
  height: 80%;
  width: 80%;
}
.item img {
  width: 100%;
  height: 40%;
}
.item h2 {
  font-size: 0.5em;
  font-weight: small;
  text-wrap: wrap;
  color: rgb(0, 128, 0);
  justify-self: center;
}
.item .price {
  letter-spacing: 3px;
  font-size: 0.7em;
  color: #000;
  justify-self: center;
  margin-top: -10px;
}
.item .addCart {
  display: flex;
  border: 1px solid rgb(11, 173, 11);
  padding: 10px 20px;
  border-radius: 40px;
  align-items: center;
  justify-self: center;
  font-size: 0.6em;
}
.cartTab {
  width: 100px;
  background-color: rgb(48, 40, 40);
  color: #eee;
  position: fixed;
  inset: 0 -100px 0 auto;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  transition: 0.6s;
}
body.showCart .cartTab {
  inset: 0 0 0 auto;
}
body.showCart .container{
  transform: translateX(-50px);
}
.cartTab h1 {
  padding: 10px;
  margin: 0;
  font-size: 1em;
  align-self: center;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.close {
  background-color: rgb(241, 235, 235);
  color: rgb(6, 153, 6);
  border: none;
  font-family: poppins;
  cursor: pointer;
  font-size: 1em;
}
.check {
  background-color: rgb(6, 153, 6);
  color: rgb(241, 235, 235);
  border: none;
  font-family: poppins;
  font-size: 1.5em;
  cursor: pointer;
}
.listCart .item {
  display: grid;
  grid-template-columns: 50px 30px 45px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
  background-color: black;
}
.listCart img {
  width: 100%;
}
.item .name {
  font-size: 1em;
}
.item .totalPrice {
  font-size: 1em;
}
.quantity {
  display: flex;
  flex-direction: row;
}
.quantity span {
  width: 30px;
  height: 30px;
  background-color: white;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  font-weight: 300;
}
.item .minus {
  display: flex;
  font-size: 2em;
  justify-self: center;
  justify-content: center;
}
.item .plus {
  display: flex;
  font-size: 2em;
  justify-self: center;
  justify-content: center;
}
.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: white;
  font-size: 1em;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}
.listCart {
  overflow: auto;
} 
.listCart::-webkit-scrollbar {
  width: 0;
}
footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  margin-right: 50%;
  height: 30px;
  width: 30px;
}
}
@media (max-width: 992px) {
  #header {
  display: grid;
  grid-template-columns: 50px 1fr 80px;
  width: 100%;
  align-items: center;
  height: 10%;
  z-index: 999;
  position: fixed;
  margin-top: -150px;
}
.title {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
}
.title h1 {
  font-size: 0.5em;
  font-weight: 500;
}
.title a {
  font-size: 0.5em;
  margin-left: -20px;
}
.search-btn {
  padding: 5px 10px;
  width: 100%;
  height: 40px;
  
}
.search-btn input {
width: 100%;
padding-left: 20px;
}
.search-btn input::placeholder {
 font-size: 1em;
 color: black;
}
.search-btn img {
  border: 1px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.icon-cart {
  display: flex;
  position: relative;
}
.icon-cart img {
  width: 100%;
  height: 100%;
}
.icon-cart span {
  display: flex;
  width: 15px;
  height: 15px;
  background-color: red;
  color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  right: 0px;
  font-size: 0.7em;
}
#list-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 150px;
  width: 100%;
  height: 100%;
}
.item {
  height: 70%;
  width: 70%;
}
.item img {
  width: 100%;
  height: 40%;
}
.item h2 {
  font-size: 1.4em;
  font-weight: small;
  text-wrap: wrap;
  color: rgb(0, 128, 0);
  justify-self: center;
}
.item .price {
  letter-spacing: 3px;
  font-size: 1.2em;
  color: #000;
  justify-self: center;
  margin-top: -10px;
}
.item .addCart {
  display: flex;
  border: 1px solid rgb(11, 173, 11);
  padding: 10px 20px;
  border-radius: 40px;
  align-items: center;
  justify-self: center;
  font-size: 0.5em;
}
.cartTab {
  width: 100px;
  background-color: rgb(48, 40, 40);
  color: #eee;
  position: fixed;
  inset: 0 -100px 0 auto;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  transition: 0.6s;
}
body.showCart .cartTab {
  inset: 0 0 0 auto;
}
body.showCart .container{
  transform: translateX(-50px);
}
.cartTab h1 {
  padding: 10px;
  margin: 0;
  font-size: 1em;
  align-self: center;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.close {
  background-color: rgb(241, 235, 235);
  color: rgb(6, 153, 6);
  border: none;
  font-family: poppins;
  cursor: pointer;
  font-size: 1em;
}
.check {
  background-color: rgb(6, 153, 6);
  color: rgb(241, 235, 235);
  border: none;
  font-family: poppins;
  font-size: 1.5em;
  cursor: pointer;
}
.listCart .item {
  display: grid;
  grid-template-columns: 50px 30px 45px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
  background-color: black;
}
.listCart img {
  width: 100%;
}
.item .name {
  font-size: 1em;
}
.item .totalPrice {
  font-size: 1em;
}
.quantity {
  display: flex;
  flex-direction: row;
}
.quantity span {
  width: 30px;
  height: 30px;
  background-color: white;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  font-weight: 300;
}
.item .minus {
  display: flex;
  font-size: 2em;
  justify-self: center;
  justify-content: center;
}
.item .plus {
  display: flex;
  font-size: 2em;
  justify-self: center;
  justify-content: center;
}
.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: white;
  font-size: 1em;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}
.listCart {
  overflow: auto;
} 
.listCart::-webkit-scrollbar {
  width: 0;
}
footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  margin-right: 50%;
  height: 40px;
  width: 40px;
}
}
@media (max-width: 768px) {
  #header {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  width: 100%;
  align-items: center;
  height: 5%;
  z-index: 999;
  position: fixed;
  margin-top: -150px;
}
.title {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
}
.title h1 {
  font-size: 0.7em;
  font-weight: 500;
}
.title a {
  font-size: 0.6em;
  margin-left: -20px;
}
.search-btn {
  padding: 7px 15px;
  width: 100%;
  height: 45px;
  
}
.search-btn input {
width: 100%;
padding-left: 20px;
}
.search-btn input::placeholder {
 font-size: 1em;
 color: black;
}
.search-btn img {
  border: 1px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.icon-cart {
  display: flex;
  position: relative;
}
.icon-cart img {
  width: 100%;
  height: 100%;
}
.icon-cart span {
  display: flex;
  width: 15px;
  height: 15px;
  background-color: red;
  color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  right: 0px;
  font-size: 0.7em;
}
#list-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 150px;
  width: 100%;
  height: 100%;
}
.item {
  height: 90%;
  width: 80%;
}
.item img {
  width: 100%;
  height: 40%;
}
.item h2 {
  font-size: 1em;
  font-weight: small;
  text-wrap: wrap;
  color: rgb(0, 128, 0);
  justify-self: center;
}
.item .price {
  letter-spacing: 3px;
  font-size: 0.8em;
  color: #000;
  justify-self: center;
  margin-top: -10px;
}
.item .addCart {
  display: flex;
  border: 1px solid rgb(11, 173, 11);
  padding: 10px 20px;
  border-radius: 40px;
  align-items: center;
  justify-self: center;
  font-size: 0.8em;
}
.cartTab {
  width: 100px;
  background-color: rgb(48, 40, 40);
  color: #eee;
  position: fixed;
  inset: 0 -100px 0 auto;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  transition: 0.6s;
}
body.showCart .cartTab {
  inset: 0 0 0 auto;
}
body.showCart .container{
  transform: translateX(-50px);
}
.cartTab h1 {
  padding: 10px;
  margin: 0;
  font-size: 1em;
  align-self: center;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.close {
  background-color: rgb(241, 235, 235);
  color: rgb(6, 153, 6);
  border: none;
  font-family: poppins;
  cursor: pointer;
  font-size: 1em;
}
.check {
  background-color: rgb(6, 153, 6);
  color: rgb(241, 235, 235);
  border: none;
  font-family: poppins;
  font-size: 1.5em;
  cursor: pointer;
}
.listCart .item {
  display: grid;
  grid-template-columns: 50px 30px 45px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
  background-color: black;
}
.listCart img {
  width: 100%;
}
.item .name {
  font-size: 1em;
}
.item .totalPrice {
  font-size: 1em;
}
.quantity {
  display: flex;
  flex-direction: row;
}
.quantity span {
  width: 30px;
  height: 30px;
  background-color: white;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  font-weight: 300;
}
.item .minus {
  display: flex;
  font-size: 2em;
  justify-self: center;
  justify-content: center;
}
.item .plus {
  display: flex;
  font-size: 2em;
  justify-self: center;
  justify-content: center;
}
.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: white;
  font-size: 1em;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}
.listCart {
  overflow: auto;
} 
.listCart::-webkit-scrollbar {
  width: 0;
}
footer {
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
  width: 30px;
}
}
@media (max-width: 600px) {
  #header {
  display: grid;
  grid-template-columns: 50px 1fr 80px;
  width: 100%;
  align-items: center;
  height: 5%;
  z-index: 999;
  position: fixed;
  margin-top: -150px;
}
.title {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
}
.title h1 {
  font-size: 0.5em;
  font-weight: 500;
}
.title a {
  font-size: 0.5em;
  margin-left: -20px;
}
.search-btn {
  padding: 5px 10px;
  width: 100%;
  height: 40px;
  
}
.search-btn input {
width: 100%;
padding-left: 20px;
}
.search-btn input::placeholder {
 font-size: 1em;
 color: black;
}
.search-btn img {
  border: 1px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.icon-cart {
  display: flex;
  position: relative;
}
.icon-cart img {
  width: 100%;
  height: 100%;
}
.icon-cart span {
  display: flex;
  width: 15px;
  height: 15px;
  background-color: red;
  color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  right: 0px;
  font-size: 0.7em;
}
#list-product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 150px;
  width: 100%;
  height: 100%;
}
.item {
  height: 90%;
  width: 80%;
}
.item img {
  width: 100%;
  height: 40%;
}
.item h2 {
  font-size: 0.5em;
  font-weight: small;
  text-wrap: wrap;
  color: rgb(0, 128, 0);
  justify-self: center;
}
.item .price {
  letter-spacing: 3px;
  font-size: 0.7em;
  color: #000;
  justify-self: center;
  margin-top: -10px;
}
.item .addCart {
  display: flex;
  border: 1px solid rgb(11, 173, 11);
  padding: 10px 20px;
  border-radius: 40px;
  align-items: center;
  justify-self: center;
  font-size: 0.6em;
}
.cartTab {
  width: 100px;
  background-color: rgb(48, 40, 40);
  color: #eee;
  position: fixed;
  inset: 0 -100px 0 auto;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  transition: 0.6s;
}
body.showCart .cartTab {
  inset: 0 0 0 auto;
}
body.showCart .container{
  transform: translateX(-50px);
}
.cartTab h1 {
  padding: 10px;
  margin: 0;
  font-size: 1em;
  align-self: center;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.close {
  background-color: rgb(241, 235, 235);
  color: rgb(6, 153, 6);
  border: none;
  font-family: poppins;
  cursor: pointer;
  font-size: 1em;
}
.check {
  background-color: rgb(6, 153, 6);
  color: rgb(241, 235, 235);
  border: none;
  font-family: poppins;
  font-size: 1.5em;
  cursor: pointer;
}
.listCart .item {
  display: grid;
  grid-template-columns: 50px 30px 45px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
  background-color: black;
}
.listCart img {
  width: 100%;
}
.item .name {
  font-size: 1em;
}
.item .totalPrice {
  font-size: 1em;
}
.quantity {
  display: flex;
  flex-direction: row;
}
.quantity span {
  width: 30px;
  height: 30px;
  background-color: white;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  font-weight: 300;
}
.item .minus {
  display: flex;
  font-size: 2em;
  justify-self: center;
  justify-content: center;
}
.item .plus {
  display: flex;
  font-size: 2em;
  justify-self: center;
  justify-content: center;
}
.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: white;
  font-size: 1em;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}
.listCart {
  overflow: auto;
} 
.listCart::-webkit-scrollbar {
  width: 0;
}
footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
  margin-right: 50%;
  height: 30px;
  width: 30px;
}
}