@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tagesschrift&display=swap');
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 1.5em;
  font-weight: 500;
  font-style: oblique;
  line-height: 4px;
}
h2 {
  font-size: 1.5em;
  font-weight: 400;
}
p {
  font-size: 1em;
  font-weight: 300;
}
#header {
  display: grid;
  grid-template-columns: 400px 1fr 200px;
  align-items: center;
  width: 100%;
  text-align: center;
  transition: transform 0.5s;
  background-color: white;
  height: 20%;
  z-index: 999;
  margin-bottom: 50px;
  position: fixed;
}
.tittle { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  max-width: 100%;
}
.tittle img {
  height: 4vh;
  background-color: white;
}
.title a {
  font-size: 1em;
}
.search-btn {
  display: flex;
  justify-items: center;
  margin-bottom: 45px;
  justify-content: space-around;
  padding: 10px 20px;
  height: 50px;
}
.search-btn input {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border: 1px solid rgb(7, 7, 7);
  width: 100%;
  padding-left: 20px;
  border-right: non;
}
.Product input::placeholder {
 font-size: 1em;
 color: black;
}
.search-btn img {
  border: 1px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.icon-cart {
  display: flex;
  position: relative;
  margin-bottom: 46px;
}
.icon-cart .cart img {
  font-size: 2em;
  height: 50px;
  width: 50px;
}
.icon-cart .account {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  font-size: 3em;
  border-radius: 50%;
  border: 1px solid rgb(37, 31, 31);
  background-color: rgb(253, 253, 253);
}
.icon-cart .account img {
  height: 50px;
  width: 50px;
}
.icon-cart .cart span {
  display: flex;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55%;
  right: -50%;
  font-size: 1em;
}
#electronics {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 100%;
  padding: 0 20px;
}
.item {
  background-color: #eeeee6;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50%;
  height:90%;
  width: 80%;
  contain: content;
}
.cont-div1 {
  width: 1;
  height: 50%;
  filter: drop-shadow(0 15px 15px #0009);
}
.price {
  letter-spacing: 3px;
  font-size: 1em;
  color: #000;
  justify-self: center;
  margin-top: -20px;
}
.addCart {
  display: flex;
  border: 1px solid rgb(11, 173, 11);
  padding: 10px 20px;
  border-radius: 40px;
  align-items: center;
  justify-self: center;
  font-size: 1em;
  margin-top: -10px;
}
.cartTab {
  width: 300px;
  background-color: rgb(48, 40, 40);
  color: #eee;
  position: fixed;
  inset: 0 -300px 0 auto;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  transition: 0.6s;
}
body.showCart .cartTab {
  inset: 0 0 0 auto;
}
body.showCart .product{
  transform: translateX(-10px);
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.close {
  background-color: rgb(241, 235, 235);
  color: rgb(6, 153, 6);
  border: none;
  font-family: poppins;
  cursor: pointer;
  font-size: 1.5em;
}
.check {
  background-color: rgb(6, 153, 6);
  color: rgb(241, 235, 235);
  border: none;
  font-family: poppins;
  font-size: 1.5em;
  cursor: pointer;
}
.listCart .item {
  display: grid;
  grid-template-columns: 50px 30px 45px 1fr;
  gap: 20px;
  text-align: center;
  align-items: center;
  background-color: black;
}
.listCart img {
  width: 100%;
}
.item .name {
  font-size: 1em;
}
.item .totalPrice {
  font-size: 1em;
}
.quantity {
  display: flex;
  flex-direction: row;
}
.quantity span {
  width: 30px;
  height: 30px;
  background-color: white;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  font-weight: 300;
}
.item .minus {
  display: flex;
  font-size: 2em;
  justify-self: center;
  justify-content: center;
}
.item .plus {
  display: flex;
  font-size: 2em;
  justify-self: center;
  justify-content: center;
}
.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: white;
  font-size: 1em;
}
.listCart .item:nth-child(even) {
  background-color: #eee1;
}
.listCart {
  overflow: auto;
} 
.listCart::-webkit-scrollbar {
  width: 0;
}
footer {
  display: flex;
  flex-direction: row;
  justify-self: center;
  text-align: center;
  margin-bottom: 30px;
  height: 40px;
  width: 40px;
}
@media screen and (min-width: 1025px) and
(max-width: 1200px) {
  #header {
    display: flex;
    align-items: center;
    width: 50%;
    position: fixed;
    padding: 10px;
  }
  .tittle { 
    display: flex;
    flex-direction: column;
  }
  .tittle img {
    height: 3vh;
  }
  .tittle a {
    font-size: 1.5em;
  }
  .search-btn {
    display: flex;
    margin-bottom: 45px;
    height: 70px;
  }
  .search-btn input {
    width: 100%;
  }
  .search-btn input::placeholder {
  font-size: 3em;
  color: black;
  }
  .icon-cart {
    display: flex;
    position: relative;
    align-self: center;
    margin-bottom: 46px;
  }
  .icon-cart .cart img {
    font-size: 2em;
    height: 50px;
    width: 50px;
  }
  .icon-cart .account {
    width: 50px;
    height:50px;
    font-size: 1em;
  }
  .icon-cart .account img {
    height: 50px;
    width: 50px;
  }
  .icon-cart .cart span {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    right: 90px;
    font-size: 2em;
  }
  #electronics {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 95%;
    padding: 10px;
  }
  .item {
    height: 50%;
    width: 50%;
  }
  .item img {
    width: 100%;
    height: 55%;
  }
  .item h2 {
    font-size: 1.em;
  }
  .price {
    letter-spacing: 3px;
    font-size: 1.5em;
  }
  .addCart {
    padding: 10px 20px;
    font-size: 1.5em;
  }
  .cartTab {
    width: 150px;
    background-color: rgb(48, 40, 40);
    color: #eee;
    position: fixed;
    inset: 0 -150px 0 auto;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    transition: 0.6s;
  }
  body.showCart .cartTab {
    inset: 0 0 0 auto;
  }
  body.showCart .product{
    transform: translateX(-10px);
  }
  .cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .quantity span {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    font-weight: 300;
  }
}
@media screen and (min-width: 769px) and 
(max-width: 1024px) {
  #header {
    display: flex;
    width: 95%;
    height: 15%;
    padding: 10px;
    margin-top: -75px;
  }
  .tittle { 
    display: flex;
    flex-direction: column;
  }
  .tittle img {
    height: 4vh;
  }
  .title a {
    font-size: 2em;
  }
  .search-btn {
    display: flex;
    height: 50px;
    width: 90%;
  }
  .search-btn input {
    width: 100%;
  }
  .search-btn input::placeholder {
  font-size: 2em;
  color: black;
  }
  .search-btn img {

  }
  .icon-cart {
    display: flex;
    position: relative;
    align-self: center;
    margin-bottom: 46px;
  }
  .icon-cart .cart img {
    font-size: 2em;
    height: 50px;
    width: 50px;
  }
  .icon-cart .account {
    width: 50px;
    height:50px;
    font-size: 1em;
  }
  .icon-cart .account img {
    height: 40px;
    width: 40px;
  }
  .icon-cart .cart span {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    right: 80px;
    font-size: 1em;
  }
  #electronics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 95%;
    padding: 10px;
    margin-top: 75px;
  }
  .item {
    height: 90%;
    width: 80%;
  }
  .item img {
    width: 100%;
    height: 50%;
  }
  .item h2 {
    font-size: 1.2em;
  }
  .price {
    letter-spacing: 4px;
    font-size: 1.2em;
    color: #000;
    justify-self: center;
    margin: 20px;
  }
  .addCart {
    display: flex;
    font-size: 1em;
    margin-top: 10px;
  }
  .cartTab {
    width: 150px;
    background-color: rgb(48, 40, 40);
    color: #eee;
    position: fixed;
    inset: 0 -150px 0 auto;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    transition: 0.6s;
  }
  body.showCart .cartTab {
    inset: 0 0 0 auto;
  }
  body.showCart .product{
    transform: translateX(-10px);
  }
  .cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .quantity span {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    font-weight: 300;
  }
}
@media screen and (min-width: 481px) and 
(max-width: 768px) {
  #header {
    display: flex;
    width: 100%;
    position: fixed;
    padding: 20px;
    height: 8%;
    margin-top: -13%;
  }
  .tittle { 
    display: flex;
    flex-direction: column;
  }
  .tittle h2 {
    font-size: 0.7em;
  }
  .tittle img {
    height: 2vh;
  }
  .tittle a {
    font-size: 0.6em;
  }
  .search-btn {
    display: flex;
    height: 40px;
    margin-top: 40px;
  }
  .search-btn input {
    width: 100%;
  }
  .search-btn input::placeholder {
  font-size: 1.5em;
  color: black;
  }
  .search-btn img {

  }
  .icon-cart {
    display: flex;
    position: relative;
    align-self: center;
    margin-top: 40px;
  }
  .icon-cart .cart img {
    font-size: 2em;
    height: 40px;
    width: 40px;
  }
  .icon-cart .account {
    width: 40px;
    height:40px;
    font-size: 1em;
  }
  .icon-cart .account img {
    height: 40px;
    width: 40px;
  }
  .icon-cart .cart span {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    right: 60px;
    font-size: 1em;
  }
  #electronics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    margin-top: 13%;
  }
  .item {
    height: 90%;
    width: 85%;
    margin-top: 0px;
  }
  .item img {
    width: 100%;
    height: 50%;
  }
  .item h2 {
    font-size: 1em;
  }
  .price {
    letter-spacing: 3px;
    font-size: 1.2em;
    margin: 15px;
  }
  .addCart {
    display: flex;
    padding: 10px 20px;
    border-radius: 40px;
    align-items: center;
    justify-self: center;
    font-size: 1em;
  }
  .cartTab {
    width: 150px;
    background-color: rgb(48, 40, 40);
    color: #eee;
    position: fixed;
    inset: 0 -150px 0 auto;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    transition: 0.6s;
  }
  body.showCart .cartTab {
    inset: 0 0 0 auto;
  }
  body.showCart .product{
    transform: translateX(-10px);
  }
  .cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .quantity span {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    font-weight: 300;
  }
}
@media screen and (min-width: 320px) and
(max-width: 480px) {
  #header {
    display: flex;
    width: 95%;
    position: fixed;
    padding: 10px;
    height: 8%;
    margin-top: -55px;
  }
  .tittle h2 {
    font-size: 0.6em;
  }
  .tittle img {
    height: 3vh;
  }
  .tittle a {
    font-size: 0.6em;
  }
  .search-btn {
    display: flex;
    margin-bottom: 45px;
    height: 30px;
    margin-top: 45px;
  }
  .search-btn input::placeholder {
  font-size: 1em;
  }
  .icon-cart {
    display: flex;
    margin-top: 45px;
  }
  .icon-cart .cart img {
    font-size: 2em;
    height: 25px;
    width: 25px;
  }
  .icon-cart .account {
    width: 25px;
    height:25px;
    font-size: 0.6em;
  }
  .icon-cart .account img {
    height: 25px;
    width: 25px;
  }
  .icon-cart .cart span {
    display: flex;
    width: 10px;
    height: 10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 0.7em;
  }
  #electronics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 90%;
    padding: 10px;
    margin-top: 55px;
  }
  .item {
    height: 85%;
    width: 80%;
    margin-top: 0px;
  }
  .item img {
    width: 100%;
    height: 50%;
  }
  .item h2 {
    font-size: 0.6em;
  }
  .price {
    letter-spacing: 3px;
    font-size: 0.7em;
    margin: 10px;
  }
  .addCart {
    font-size: 0.6em;
    margin-top: 10px;
  }
  .cartTab {
    width: 150px;
    background-color: rgb(48, 40, 40);
    color: #eee;
    position: fixed;
    inset: 0 -150px 0 auto;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    transition: 0.6s;
  }
  body.showCart .cartTab {
    inset: 0 0 0 auto;
  }
  body.showCart .product{
    transform: translateX(-10px);
  }
  .cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .quantity span {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    font-weight: 300;
  }
}